{{define "listChar"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/CSS/styles.css">
  <title>Character Presentation</title>
</head>

<body>
  {{range .}}

  <a href="/CharDisplay?fullname={{.PersosFullName}}">
  <h2>{{.PersosName}}</h2>
  <img src="{{.PersosImage}}" alt="{{.PersosName}} Image" />
  <p>{{.PersosDescription}}</p></a>

  {{end}}
</body>

</html>
{{end}}