{{define "newChar"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/CSS/styles.css">
  <script src="/static/JS/scrypt.js"></script>
  <title>Character Creation</title>
</head>

<body>
  {{ if .ErrorMessage }}
  <div class="error-message">{{ .ErrorMessage }}</div>
  {{ end }}
  <div class="content-all">
    <div class="perso-global">
      <form action="/CreatChar/Gestion" method="post" enctype="multipart/form-data">
        <div class="center-F">
          <h1>Creer un personnage </h1>
        </div>
        <div class="zone-texte">
          <div>
            <label for="PersosName">Nom du personnage :</label>
            <input type="text" id="PersosName" name="PersosName" placeholder="Nicolas" required />
            <div>
              <label for="PersosFullName">Nom complet :</label>
              <input type="text" id="PersosFullName" name="PersosFullName" placeholder="Nicolas le G.O.A.T" required />
            </div>
          </div>
          <div class="collumn">
            <label for="PersosImage">Image du personnage (moin de 10MB):</label>
            <input type="file" id="PersosImage" name="PersosImage" required />
            <img id="previewImage" src="#" alt="Preview" style="max-width: 10%; display: none;" />
          </div>
          </div>
        </div>

        <div>
          <label for="PersosDescription">Description du personnage :</label>
          <textarea id="PersosDescription" name="PersosDescription" rows="4" cols="50"
            required></textarea>
        </div>
        <div>
          <label for="PersosEquipe">Equipe du personnage:</label>
          <select id="PersosEquipe" name="PersosEquipe" required>
            <option value="Red">Red</option>
            <option value="Yellow">Yellow</option>
            <option value="Unified">Unified</option>
          </select>
        </div>
        <div class="zone-texte">
          <div class="zone1">
            <div>
              <label for="PersosPersonalite">Personalité du personage:</label>
              <textarea type="text" id="PersosPersonalite" name="PersosPersonalite" rows="4" cols="50"
                required></textarea>
            </div>

            <div>
              <label for="PersosApparence">Apparence du personnage :</label>
              <textarea type="text" id="PersosApparence" name="PersosApparence" rows="4" cols="50"
                required></textarea>
            </div>
          </div>
          <div class="zone2">
            <div>
              <label for="PersosCapacités">Capacité du personnage:</label>
              <textarea type="text" id="PersosCapacités" name="PersosCapacités" rows="4" cols="50"
                required></textarea>
            </div>
            <div>
              <label for="PersosHistoires">Histoire du personnage:</label>
              <textarea id="PersosHistoires" name="PersosHistoires" rows="4" cols="50"
                required></textarea>
            </div>
          </div>
        </div>
    </div>
    <!-- Dynamic Stat Points Allocation -->
    <div class="center-F">
      <h2>Stat Points Allocation</h2>
      <div class="titre-stat">
        <label for="totalPoints">Total Points (Max 400): </label>
        <input type="number" id="totalPoints" name="totalPoints" max="400" value="0" readonly />
      </div>
    </div>
    <div>
      <div class="stat-allocation">
        <div class="stat-big">
          <div class="stat-middle">
            <label>Endurance:</label>
          </div>
          <input type="number" class="stat-input" id="PersosEnduranceValue" name="PersosEndurance" min="0" max="50"
            value="0" required readonly />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosEndurance" name="PersosEndurance" min="0" max="50"
              value="0" required>
          </div>
        </div>


        <div class="stat-big">
          <div class="stat-middle">
            <label>Stamina:</label>
          </div>
          <input type="number" class="stat-input" id="PersosStamina" name="PersosStamina" min="0" max="50" value="0"
            value="0" required readonly />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosStamina" name="PersosStamina" min="0" max="50" value="0"
              value="0" required>
          </div>
        </div>

        <div class="stat-big">
          <div class="stat-middle">
            <label>Agilité physique :</label>
          </div>
          <input type="number" class="stat-input" id="PersosPhysicalAgility" name="PersosPhysicalAgility" min="0"
            max="50" value="0" required readonly />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosPhysicalAgility" name="PersosPhysicalAgility" min="0"
              max="50" value="0" required>
          </div>
        </div>
      </div>

      <div class="stat-allocation">
        <div class="stat-big">
          <div class="stat-middle">
            <label>Compétences en construction d'abris:</label>
          </div>
          <input type="number" class="stat-input" id="PersosShelterBuilding" name="PersosShelterBuilding" min="0"
            max="50" value="0" readonly required />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosShelterBuilding" name="PersosShelterBuilding" min="0"
              max="50" value="0" required>
          </div>
        </div>



        <div class="stat-big">
          <div class="stat-middle">
            <label>Compétences en allumage de feu:</label>

          </div>
          <input type="number" class="stat-input" id="PersosFireMaking" name="PersosFireMaking" min="0" max="50"
            readonly value="0" required />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosFireMaking" name="PersosFireMaking" min="0" max="50"
              value="0" required>
          </div>
        </div>


        <div class="stat-big">
          <div class="stat-middle">
            <label>Réflexion stratégique du personnage:</label>

          </div>
          <input type="number" class="stat-input" id="PersosStrategicThinking" name="PersosStrategicThinking" min="0"
            max="50" value="0" required readonly />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosStrategicThinking" name="PersosStrategicThinking" min="0"
              max="50" value="0" required>
          </div>
        </div>
      </div>

      <div class="stat-allocation">
        <div class="stat-big">
          <div class="stat-middle">
            <label>Compétences de manipulation:</label>

          </div>
          <input type="number" class="stat-input" id="PersosManipulation" name="PersosManipulation" min="0" max="50"
            value="0" readonly required />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosManipulation" name="PersosManipulation" min="0" max="50"
              value="0" required>
          </div>
        </div>
        <div class="stat-big">
          <div class="stat-middle">
            <label>Endurance mentale du personnage:</label>

          </div>
          <input type="number" class="stat-input" id="PersosMentalEndurance" name="PersosMentalEndurance" min="0"
            max="50" value="0" readonly required />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosMentalEndurance" name="PersosMentalEndurance" min="0"
              max="50" value="0" required>
          </div>
        </div>
        <div class="stat-big">
          <div class="stat-middle">
            <label>Esprit d'équipe du personnage:</label>

          </div>
          <input type="number" class="stat-input" id="PersosTeamPlayer" name="PersosTeamPlayer" min="0" max="50"
            value="0" readonly required />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosTeamPlayer" name="PersosTeamPlayer" min="0" max="50"
              value="0" required>
          </div>
        </div>
      </div>

      <div class="stat-allocation">
        <div class="stat-big">
          <div class="stat-middle">
            <label>Compétences en leadership:</label>

          </div>
          <input type="number" class="stat-input" id="PersosLeadershipSkills" name="PersosLeadershipSkills" min="0"
            max="50" value="0" readonly required />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosLeadershipSkills" name="PersosLeadershipSkills" min="0"
              max="50" value="0" required>
          </div>
        </div>
        <div class="stat-big">
          <div class="stat-middle">
            <label>Performance individuelle dans les défis:</label>

          </div>
          <input type="number" class="stat-input" id="PersosIndividualChallengePerformance"
            name="PersosIndividualChallengePerformance" min="0" max="50" value="0" readonly required />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosIndividualChallengePerformance"
              name="PersosIndividualChallengePerformance" min="0" max="50" value="0" required>
          </div>
        </div>
        <div class="stat-big">
          <div class="stat-middle">
            <label>Contribution aux défis d'équipe:</label>

          </div>
          <input type="number" class="stat-input" id="PersosTeamChallengeContribution"
            name="PersosTeamChallengeContribution" min="0" max="50" value="0" readonly required />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosTeamChallengeContribution"
              name="PersosTeamChallengeContribution" min="0" max="50" value="0" required>
          </div>
        </div>
        <div class="stat-big">
          <div class="stat-middle">
            <label>Adaptabilité du personnage:</label>
          </div>
          <input type="number" class="stat-input" id="PersosAdaptability" name="PersosAdaptability" min="0" max="50"
            value="0" readonly required />
          <div class="stat-small">
            <input type="range" class="stat-slider" id="PersosAdaptability" name="PersosAdaptability" min="0" max="50"
              value="0" required>
          </div>
        </div>
      </div>
    </div>
    <input type="submit" value="Register" />
    </form>
    </section>
    <footer></footer>
  </div>
</body>

</html>
{{end}}