{{define "newChar"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/statics/fav.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/submit.css" />
  <title>Register</title>
</head>

<body>
  
    <h1>Cree un personnage <br><br></h1>
    <form action="/newChar/gestion" method="post" enctype="multipart/form-data">
      <label for="PersosName">Nom du personnage :</label>
      <input type="text" id="PersosName" name="PersosName" placeholder="Luffy" required /><br /><br />

      <label for="PersosImage">Image du personnage (must be under 10MB):</label>
      <input type="file" id="PersosImage" name="PersosImage" required /><br /><br />

      <label for="PersosFullName">Nom complet, si aucun metre le nom :</label>
      <input type="text" id="PersosFullName" name="PersosFullName" placeholder="Monky D. Luffy" required /><br /><br />

      <label for="PersosDescription">Description du personnage :</label>
      <textarea id="PersosDescription" name="PersosDescription" required></textarea><br /><br />

      <label for="PersosRole">Equipe du personnage:</label>
      <input type="text" id="PersosRole" name="PersosRole" required /><br /><br />

      <label for="PersosPersonalite">Personalité du personage:</label>
      <input type="text" id="PersosPersonalite" name="PersosPersonalite" required /><br /><br />

      <label for="PersosApparence">Apparence du personnage :</label>
      <input type="text" id="PersosApparence" name="PersosApparence" required /><br /><br />

      <label for="PersosCapacités">Capacité du personnage:</label>
      <textarea type="text" id="PersosCapacités" name="PersosCapacités" required></textarea><br /><br />

      <label for="PersosHistoires">Histoire du personnage:</label>
      <textarea id="PersosHistoires" name="PersosHistoires" required></textarea><br /><br />

      <input type="submit" value="Register" />
    </form>
  </section>
  <footer></footer>
  </div>
</body>

</html>
{{end}}