body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.global {
    position: relative;
    padding: 20px;
    height: 100vh;
    max-width: 50vw;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 50vw;
    min-height: 100vh;
    background-image: url("/static/IMG/ok.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1,
h2 {
    color: white;
}

img {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 20px 0;
    /* Adjust margin as needed */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Add styles for the progress bar wrapper and the underlying bar */
.progress-bar-wrapper {
    position: relative;
    height: 20px;
    /* Set the height of the progress bar */
    width: 50%;
    /* Set the width to fill the container */
    overflow: hidden;
    /* Hide overflowing content */

    /* Optional: Add a border or background to the entire bar */
    border: 1px solid #ddd;
    /* Example border color */
}

.progress-bar {
    background-color: #4CAF50;
    height: 100%;
    /* Set the height to fill the container */
    transition: width 0.5s;
    /* Add transition for a smooth effect */
}

.delete {
    height: 5em;
    width: 10em;
    border: none;
    border-radius: 10em;
    background-image: url("/static/IMG/button.png");
    font-size: 17px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
}

.delete:hover {
    animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}


.button-update {
    display: flex;
    align-items: center;
}