*{
 padding: 0;
 margin: 0;
}


.content-all{
  display: flex;
  flex-direction: column;
}

.stat-allocation{
  display: flex;
  flex-direction: row;
}

.center-F{
  display: flex;
  flex-direction: column;
  align-items: center;
}