body {
    font-family: Arial, sans-serif;
  }
  
  .stat-allocation {
    margin-top: 20px;
  }
  
  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .stat-input {
    width: 50px;
  }